html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* transition: all .5s ease-in-out; */
  font-family: "poppins";
}
::-webkit-scrollbar {
  width: 0.7em;
  height: 0.7em;
  background-color: whitesmoke;
}
::-webkit-scrollbar-thumb {
  transition: all 0.5s ease-in-out;
  background-color: whitesmoke;

  width: 0.5em;
  border-radius: 1em;
  height: 0.1em;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(63, 128, 128);
}
::-webkit-scrollbar-button {
  width: 0.5em;
  height: 0.5em;
  /* background-color:w; */
}

/*  */
/* ////////////////////////////////////////// */
/* ////////////////////////////////////////// */
/* 
/* 
/* 
/* 
/* 
////////////////////////////////////////// */

nav {
  display: flex;
  position: fixed;
  justify-content: space-between;
  /* height: 20%; */
  background-color:rgb(235, 235, 235);
  box-shadow: 0px 0.2em 0.2em rgb(158, 158, 158);
  padding: 0.5em 1em;
  width: 100%;
  height: 5em;
  /* background: whitesmoke; */
}

nav a:focus {
  color: teal;
}

nav img {
  width: 5em;
  height: 100%;
}
nav h1 {
  position: absolute;
  top: 1em;
  left: 5em;
}
.links_ {
  /* background-color: yellowgreen; */
  display: flex;
  padding: 0.5em;
}
.links_ button {
  background:transparent;
  border: 0;
  padding: 0.5em;
  cursor: pointer;
}

.links_ button:focus {
  color: teal;
}

section {
  padding: 20px;
  padding-top: 5em;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.hero img {
  width: 70%;
  /* height: 10%; */
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 10px;
  /* height: 100%; */
}

/* banner */
/* banner */ /* banner */
/* banner */ /* banner */ /* banner */
/* banner */ /* banner */ /* banner */ /* banner */
/* banner */ /* banner */ /* banner */ /* banner */ /* banner */
/* banner */ /* banner */ /* banner */ /* banner */ /* banner */ /* banner */

.container {
  box-sizing: content-box;
  /* background-color: tomato; */
  display: flex;
  background-color: rgb(225, 237, 221);
  /* height: auto; */
  overflow: hidden;
  overflow-x: auto;
  box-shadow: 0em 0.05em 1em rgba(0, 0, 0, 0.127);
  /* border: .2em solid cadetblue; */
  border-radius: 0.1em;
}
.container::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
.card::before {
  /* box-shadow: 5px -15px 10px rgb(255, 6, 6); */
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fefefe;
  /* background: linear-gradient(to bottom, rgb(225, 237, 221) 80%, whitesmoke); */
  /* margin: 2em; */
  width: 15em;
  height: auto;
  /* padding: 2em; */
  margin: 1em;
  padding-bottom: 1em;
  border-radius: 15px 15px 15px 15px;
  /* box-shadow: -0.5em 0px 0px rgb(200, 220, 200), .5em -0px 0px rgb(200, 220, 200); */
}

.card a {
  text-decoration: none;
  color: rgb(56, 56, 56);
}

.card_stuffs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  padding-top: 0;
  padding-bottom: 0;
}

.image_ {
  /* background-color: aquamarine; */
  /* padding-top: 2em; */
}
.image_ img {
  height: 10em;
  width: 15em;
  object-fit: cover;
  border-radius: 15px 15px 1px 1px;
}
.card_text {
  flex-grow: 1;
  /* background-color: aqua; */
  height: auto;
}

.gray {
  /* background-color: aquamarine; */
  color: rgba(148, 148, 148, 0.762);
  /* font-weight: lighter; */
}

.card button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid black;
  border-radius: 20px;
  background: rgb(225, 237, 221);
  left: 90%;
  width: 10em;
  height: 2em;
  margin-top: 0.5em;
  /* padding: .2em; */
  transform: translate(-50% -50%);
  cursor: pointer;
}
